<h2><%= @team.name %></h2>
<h3>Team Bio</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<hr>

<table>
  <tr>
    <th>Teams played</th>
    <th>Won/Lost</th>
  </tr>
  <%away_games_played = @team.played_away  %>
  <% for game in away_games_played  %>
  <tr>
    <td>
    <%= Team.find(game.home).name %>
  </td>
  <td><%= Team.find(game.winner).name%>
  </td>
  </tr>

  <% end %>
  <%home_games_played = @team.played_at_home %>
  <% for game in home_games_played  %>
  <tr>
    <td>
    <%= Team.find(game.away).name %>
  </td>
  </td>
  <td><%= Team.find(game.winner).name%>
  </td>
  </tr>
  <%end  %>
</table>
<hr>
<form action="/teams/<%=@team.id%>/delete" method="post">
  <input type="submit" name="delete" value="Delete Team">
</form>
<hr>
<form action="/teams/<%=@team.id%>/update" method="post">
  <input type="text" name="name" id="name">
  <input type="submit" value="Edit Team Name">
</form>
</table>
