<h2>Log a result</h2>

<form action="/games" method="post">

<label for="home">Home Team</label>
  <select name="home" id="home">
    <% @teams.each do |team| %>
      <option value=<%= team.id %>>
        <%=team.name.capitalize%>
      </option>
      <% end %>
  </select>
<hr>

<label for="home_score">Home Team Score</label>
  <input type="number" name="home_score" id="home_score">
</input>
<hr>

<label for="away">Away Team</label>
  <select name="away" id="away">
    <% @teams.each do |team| %>
      <option value=<%= team.id %>>
        <%=team.name.capitalize%>
      </option>
    <% end %>
  </select>
<hr>

<label for="away_score">Away Team Score</label>
  <input type="number" name="away_score" id="away_score">
</input>
<hr>

<label for="winner">Winner</label>
  <select name="winner" id="winner">
    <% @teams.each do |team| %>
      <option value=<%= team.id %>>
        <%=team.name.capitalize%>
      </option>
    <% end %>
  </select>
<hr>

<input type="submit" value="Log game">

</form>
