<h1>Games Played</h1>
<hr>
<table>
  <tr>
    <a href='/games/add_game'>Log game</a>
  </tr>
  <tr>
    <th>Home Team</th>
    <th>Home Score</th>
    <th>Away Team</th>
    <th>Away Score</th>
    <th>Winner</th>
    <hr>
  </tr>
  <hr>
  <% for game in @games %>
  <tr>
    <td><a href='/teams/<%=game.home%>'>
    <%= game.team(game.home, "home").name %></a>
    <hr>
  </td>
   <td><%= game.home_score() %></td>

    <td><a href='/teams/<%= game.away%>'>
    <%= game.team(game.away, "away").name %></a>
    <hr>
  </td>
   <td><%= game.away_score() %></td>
   <td><a href="/teams/<%=Team.find(game.winner).id %>"><%=Team.find(game.winner).name %></td>
</tr>
  <% end %>
</table>

<form action="/games/delete_all" method="post">
  <label for="delete_all">Warning - This will Delete ALL Games</label>
  <input type="checkbox" name="confirmation" value="Clear League Table"required="required">
  <input type="submit" value="Clear League Table" id="delete_all">
</form>
